.cards__container {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 80px;
}

@media (max-width: 1279px) {
  .cards__container {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .cards__container {
    max-width: 720px;
    gap: 73px;
  }
}

@media (max-width: 767px) {
  .cards__container {
    max-width: 320px;
    gap: 50px;
  }
}
