.footer__link {
  margin: 0;
  padding-right: 18px;
  box-sizing: content-box;
  text-decoration: none;
  color: #FFFFFF;;
}

.footer__link:last-of-type {
  padding-right: 0;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer__link {
    padding-right: 0;
    padding-bottom: 32px;
  }

  .footer__link:last-of-type {
    padding-bottom: 48px;
  }
}
