.card__text {
  grid-area: card__text;
}

@media (max-width: 1279px) {
  .card__text {
    max-width: 456px;
  }
}

@media (max-width: 1023px) {
  .card__text {
    max-width: 352px;
  }
}

@media (max-width: 767px) {
  .card__text {
    margin-left: 16px;
    max-width: 288px;
  }
}
