.photo__subtitle {
  max-width: 360px;
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
}

@media (max-width: 767px) {
  .photo__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
  }
}
