.footer__container {
  margin: 0 auto;
  padding: 0 0 24px;
  max-width: calc(100% - 48px * 2);
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .footer__container {
    max-width: calc(100% - 24px * 2);
  }
}

@media (max-width: 767px) {
  .footer__container {
    max-width: 320px;
    flex-direction: column;
    padding: 0 0 24px 16px;
  }
}
